<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>报名列表</title>
    <link rel="stylesheet" href="../../static/css/fontawesome.min.css" />
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" />

    <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <link rel="stylesheet" href="../../static/css/templatemo-style.css">
    <link rel="stylesheet" href="../../static/css/elementUi.css">
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/vue.min.js"></script>
    <script src="../../static/js/request.js"></script>
    <script src="../../static/js/elementUi.js"></script>
    <style>

        .tm-block{
            padding: 0;
        }
        .tm-block-title{
            margin-bottom: 0;
            padding: 15px;
        }
        .table tbody tr{
            cursor: pointer;
        }
        [v-cloak]{
            display:none
        }
        .overName{
            width: 120px !important;
            overflow:hidden;
            text-overflow:ellipsis;
        }
    </style>
</head>
<body id="reportsPage">
<div id="home" v-cloak>
    <nav class="navbar navbar-expand-xl">
        <div class="container h-100">
            <img src="../../static/img/logo.png">
            <a class="navbar-brand" href="javascript:;">
                <h1 class="tm-site-title mb-0">&nbsp&nbsp勤工助学直通车服务号管理</h1>
            </a>
            <button
                    class="navbar-toggler ml-auto mr-0"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars tm-nav-icon"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto h-100">
                    <li class="nav-item dropdown">
                        <a
                                class="nav-link dropdown-toggle"
                                href="/newsList"
                        >
                            <img class="titleIcon" src="../../static/img/wenzhang.png">
                            <span>招聘</span>
                        </a>

                    </li>
                    <li class="nav-item dropdown">
                        <a
                                class="nav-link dropdown-toggle"
                                href="/authorList"

                        >
                            <img class="titleIcon" src="../../static/img/zuozhe.png">
                            <span>报名</span>
                        </a>

                    </li>
                    <li class="nav-item dropdown">
                        <a
                                class="nav-link dropdown-toggle"
                                href="/activityList"

                        >
                            <img class="titleIcon" src="../../static/img/huodong.png">
                            <span>Banner</span>
                        </a>

                    </li>
                    <li class="nav-item dropdown">
                        <a
                                class="nav-link dropdown-toggle"
                                href="/productList"

                        >
                            <img class="titleIcon" src="../../static/img/chanpin.png">
                            <span>城市</span>
                        </a>

                    </li>

                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link d-block" href="/signout" @click="loginOut">


                            <span>{{currentUser.username}}</span>
                            <span class="out">退出</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="listFun">
            <div>
                <input
                        v-model="condition"
                        type=""
                        placeholder="请输入学生名称关键词"
                        class="searchInpt">

                <button class="btns" @click="search">搜索</button>
            </div>
            <div class="addAlls" @click="addNews">新增报名</div>
        </div>

        <div class="boxTable">
            <div class="tables">
                <ul class="tableT">
                    <li style="width: 5%"></li>
                    <li style="width: 5%">序号</li>
                    <li style="width: 15%">姓名</li>
                    <li style="width: 8%">性别</li>
                    <li style="width: 10%">手机号码</li>
                    <li style="width: 11%">QQ</li>
                    <li style="width: 24%">学校</li>
                    <li style="width: 10%">发布时间</li>
                    <li style="width: 12%">操作</li>
                </ul>
                <div class="" v-if="newList != ''">
                    <ul class="tableC" v-for="(item,index) in newList">
                        <li style="width: 5%">
                            <input type="checkbox" name="" @change="changeBox(item,index)">
                        </li>
                        <li style="width: 5%">{{index + 1}}</li>
                        <li style="width: 15%">{{item.name}}</li>
                        <li style="width: 8%">{{item.sex == 1? '男': '女'}}</li>
                        <li style="width: 10%">{{item.phone}}</li>
                        <li style="width: 11%">{{item.qq}}</li>

                        <li style="width: 24%">{{item.school}}</li>
                        <li style="width: 10%">{{item.createtime.substr(0,10)}}</li>

                        <li style="width: 12%" class="lastLi">
                            <!--<span v-if="index == 0"></span>
                            <span v-else-if="index == 1"></span>
                            <span v-else-if="index == 2"></span>
                            <span v-else @click="top(item)">顶置</span>-->
                            <span @click="details(item)">编辑</span>
                            <span @click="delArticle('1',item)">删除</span>
                        </li>
                    </ul>
                </div>
                <div v-else class="zanwu">
                    暂无数据
                </div>
            </div>
            <div>
                <div class="delBtn" @click="allDel">批量删除</div>
            </div>
            <div style="display: flex;justify-content: center;margin-top: 20px">
                <el-pagination
                        v-if="newList != '' "
                        @current-change="currenPage"
                        background
                        layout="prev, pager, next"
                        :total="total">
                </el-pagination>
            </div>
        </div>
    </div>
    <!--<div class="h70">
        <iframe class="iframeBox" src="/footer"></iframe>
    </div>-->
</div>
<script>

    let home = new Vue({
        el: '#home',
        data: {
            currentUser: JSON.parse(localStorage.getItem('userInfo')),

            condition: '',
            newList: [],
            total:1,
            pageNum:1,
            pageSize: 10,
            allId: [],
            datetime: '',
            currentType: '',
        },
        mounted(){

            this.getNewList(this.pageNum,this.pageSize);

        },
        methods: {
            loginOut() { //退出
                postPromise({},'/user_info/sign_out').then(res => {
                    localStorage.removeItem("userInfo");
            })
            },
            details(item) { //详情页面
                window.location.href = '/editAuthor?id='+item.id;
            },


            getNewList(pageNum, pageSize,name) { //获取列表
                let data = {
                    pageNum,
                    pageSize,
                    name,
                }
                postPromise(data,'enroll/pagingSel').then(res => {
                    if(res.flag == 0) {
                    res.map.pageList.map(item => {
                        item.isChecked = false
                    })
                    this.newList = res.map.pageList
                    this.total = res.number
                }
            } ,err => {
                    console.log(err)
                })
            },
            currenPage(e) { //切换分页
                this.getNewList(e,this.pageSize)
            },

            delArticle(e,item) { //删除文章
                let data ={}
                if(e == 1) {
                    data = {
                        ids: item.id
                    }
                }else if(e ==2) {
                    data = {
                        ids: item
                    }
                }
                postPromise(data,'enroll/del').then(res => {
                    if(res.flag == 0) {
                    if(res.flag == 0) {
                        this.$message({
                            message: '删除成功',
                            type: 'success'
                        });

                        setTimeout(() => {
                            location.reload();
                    },1400)

                    }
                }
            } ,err => {
                    console.log(err)
                })
            },




            allDel() { //多选删除
                if(this.allId == ''){
                    this.$message({
                        message: '请选择要删除的数据',
                        type: 'warning'
                    });
                    return
                }
                this.delArticle('2',this.allId.join(','))
                this.allId = []
            },





            top(item) { // 置顶
                postPromise({id: item.newsid},'news/roof').then(res => {
                    if(res.flag == 0) {
                    this.$message({
                        message: '置顶成功',
                        type: 'success'
                    });
                    this.getNewList(this.pageNum,this.pageSize);
                }
            } ,err => {
                    console.log(err)
                })

            },
            selectType(e) { //类型选择
                this.currentType = e
                this.getNewList(this.pageNum, this.pageSize, this.condition, e,this.datetime)
            },

            changeBox(e,index) { //复选框
                e.isChecked = !e.isChecked
                if(e.isChecked) {
                    this.allId.push(e.id)
                }else {
                    let idx = this.allId.indexOf(e.id)
                    this.allId.splice(idx,1)
                }
            },

            addNews() {// 新建文章
                window.location.href = '/addAuthor';
            },

            search() { // 搜素
                this.getNewList(this.pageNum, this.pageSize,this.condition)
            }
        },



    })

</script>
</body>
</html>
