<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>新增城市</title>
    <link rel="stylesheet" href="../../static/css/fontawesome.min.css" />
    <link rel="stylesheet" href="../../static/ui/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../static/css/templatemo-style.css">
    <link rel="stylesheet" href="../../static/css/elementUi.css">
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/ui/jquery-ui.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/vue.min.js"></script>
    <script src="../../static/js/elementUi.js"></script>
    <script src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>
    <script src="../../static/js/request.js"></script>
    <style>
        [v-cloak]{
            display:none
        }
        #editor{
            margin-bottom:20px;
            width: 100%;
            background: #fff;
        }
        .w-e-text{
            overflow-y: auto;
        }
        .tm-product-img-dummy > img{
            height: 100%;
            width: 100%;
        }
        .weizhiLine{
            height:2px;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>

    <nav class="navbar navbar-expand-xl">
        <div class="container h-100">
            <img src="../../static/img/logo.png">
            <a class="navbar-brand" href="javascript:;">
                <h1 class="tm-site-title mb-0">&nbsp&nbsp勤工助学直通车服务号管理</h1>
            </a>
            <button
                    class="navbar-toggler ml-auto mr-0"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars tm-nav-icon"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto h-100">
                    <li class="nav-item dropdown">
                        <a
                                class="nav-link dropdown-toggle"
                                href="/newsList"
                        >
                            <img class="titleIcon" src="../../static/img/wenzhang.png">
                            <span>招聘</span>
                        </a>

                    </li>
                    <li class="nav-item dropdown">
                        <a
                                class="nav-link dropdown-toggle"
                                href="/authorList"

                        >
                            <img class="titleIcon" src="../../static/img/zuozhe.png">
                            <span>报名</span>
                        </a>

                    </li>
                    <li class="nav-item dropdown">
                        <a
                                class="nav-link dropdown-toggle"
                                href="/activityList"

                        >
                            <img class="titleIcon" src="../../static/img/huodong.png">
                            <span>Banner</span>
                        </a>

                    </li>
                    <li class="nav-item dropdown">
                        <a
                                class="nav-link dropdown-toggle"
                                href="/productList"

                        >
                            <img class="titleIcon" src="../../static/img/chanpin.png">
                            <span>城市</span>
                        </a>

                    </li>

                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link d-block" href="/signout" @click="loginOut">


                            <span>{{currentUser.username}}</span>
                            <span class="out">退出</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container tm-mt-big tm-mb-big">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row currentWzhi">
                <div class="col-12">
                    <span class="weizhi">您的位置:</span>
                    <span class="subweizhi">产品/新增城市</span>
                </div>
            </div>
            <div class="weizhiLine"></div>
            <div class="row">
                <!-- <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto"> -->
                <div class="mx-auto">
                    <div class="row tm-edit-product-row">
                        <div class="col-xl-6 col-lg-6 col-md-12 ml120">
                            <form action="" class="tm-edit-product-form">
                                <div class="form-group mb-3">
                                    <label
                                            for="name"
                                    >城市名称
                                    </label>
                                    <input
                                            v-model="from.cityname"
                                            type="text"
                                            class="form-contro"
                                            placeholder="请输入城市名称"
                                    />
                                </div>

                        </div>





                        <div class="funBao">
                            <button class="btn backs" @click="goBack">返回</button>

                            <button class="btn baocun" @click="saveArticles">保存</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    let E = window.wangEditor
    let editor = new E('#editor')
    let app = new Vue({
        el: '#app',
        data: {
            currentUser: JSON.parse(localStorage.getItem('userInfo')),
            from: {
                cityname: '',


            }
        },
        mounted() {

        },
        methods: {
            getQueryStringRegExp(name){
                let reg = new RegExp("(^|\\?|&)"+ name +"=([^&]*)(\\s|&|$)", "i");
                if (reg.test(location.href)) return unescape(RegExp.$2.replace(/\+/g, " ")); return "";
            },
            createE() {
                editor.customConfig.showLinkImg = false
                editor.customConfig.customUploadImg = function (files, insert) {
                    files.map((item,index) => {
                        let formData = new FormData();
                    formData.append('file',item)
                    upFile(formData,'uplode/image').then(res => {
                        insert(res)
                    }, err => {
                        console.log(err)
                    })
                })
                };
                editor.customConfig.onchange = (html) => {
                    this.from.content = html
                };
                editor.create()
            },
            loginOut() { //退出
                postPromise({},'/user_info/sign_out').then(res => {
                    localStorage.removeItem("userInfo");
            })
            },

            addImg(e) { //上传封面图片
                let formData = new FormData();
                formData.append('file',e.target.files[0]);
                upFile(formData,'uplode/image').then(res => {
                    this.from.url = res
                }, err => {
                    console.log(err)
                })
            },


            saveArticles() { //保存
                //this.from.id = this.getQueryStringRegExp('id');

                delete this.from.creattime
                postPromise(this.from,'city/add').then(res => {
                    if(res.flag == 0) {
                    this.$message({
                        message: '新增成功',
                        type: 'warning'
                    });
                    setTimeout(() => {
                        this.goBack();
                },1400);
                }
            } ,err => {
                    console.log(err)
                })
            },
            getDetail() {
                postPromise({id: this.getQueryStringRegExp('id')},'product/selById').then(res => {
                    if(res.flag == 0) {
                    this.from = res.map.product
                    editor.txt.html(res.map.product.content)
                }
            }, err => {

                })
            },

            clear() {
                this.from.content = this.from.content.replace(/(\n)/g, "");
                this.from.content = this.from.content.replace(/(\t)/g, "");
                this.from.content = this.from.content.replace(/(\r)/g, "");
                this.from.content = this.from.content.replace(/<\/?[^>]*>/g, "");
                this.from.content = this.from.content.replace(/\s*/g, "");
                editor.txt.html(this.from.content)
            },

            goBack() {
                location.replace('/productList');
            }
        }
    })
</script>
</body>
</html>
