<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>勤工助学官网</title>
    <link rel="stylesheet" href="../../static/css/index.css">
</head>

<body>
    <div class="menu_main">
        <div class="menu-a-left"> <a href="./index.html"><img src="../../static/images/logo.png" class="menu_back" alt="勤工助学官网" /></a>
        </div>
        <!-- <div class="menu-a-center"> <span id="">大学生寒暑假找工作首选品牌</span></div> -->
        <div class="menu-a-right">
            <a href="./addr.html">城市</a>
        </div>
    </div>
    
    <h1 class="odform-tit">勤工助学官网报名</h1>
    <div class="odform">
        <div class="input-group">
            <label for="title">姓名</label>
            <input type="text" id="title"  placeholder="认证填写您的姓名" >
        </div>
        <div class="input-group">
            <label for="">性别</label>
            <input style="width: 10%;margin-top: 3%;margin-bottom: 3%" type="radio" id="man" value="" >
            <label style="width: 20%;padding: 1.5%" for="man">男</label>
            <input style="width: 10%;margin-top: 3%;margin-bottom: 3%" type="radio" id="woman" value="" >
            <label style="width: 20%;padding:1.5%" for="woman">女</label>
        </div>
        <div class="input-group">
            <label for="mycall">手机号码</label>
            <input type="text" id="mycall"  placeholder="请输入您的手机号码">
        </div>
        <div class="input-group">
            <label for="myqq">QQ号码</label>
            <input type="text" id="myqq" placeholder="请输入您的QQ号码">
        </div>
        <div class="input-group">
            <label for="myschool">所在学校</label>
            <input type="text" id="myschool" placeholder="请输入您所在的学校名称">
        </div>
        <button id="button">提交报名</button>
    </div>

    <!-- footer -->
    <div class="footet-wrapper">
        <div class="footer">
            <div class="tel textl">
                <a href="tel:15270292407">15270292407</a>
            </div>
            <p class="words">*拨打热线电话，客服免费帮你找工作*</p>
            <p class="words">关注公众号：勤工助学官网</p>
            <p class="copyright">赣ICP备14019223号-1 Copyright 勤工助学官网</p>
        </div>
    </div>
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script>
        $(function () {
            let baseUrl = 'http://xingyikeji.natapp1.cc'

            $('#man').on('click', function () {
                $(this).prop('checked', true)
                $('#woman').prop('checked', false)
            })
            $('#woman').on('click', function () {
                $(this).prop('checked', true)
                $('#man').prop('checked', false)
            })

            $('#button').on('click', function () {
                sign()
            })
            // 报名
            function sign () {
                if (!$('#title').val()) {
                    alert('请输入姓名')
                    return
                }
                if (!$('#man').prop('checked') && !$('#woman').prop('checked')) {
                    alert('请选择性别')
                    return
                }
                if (!$('#mycall').val()) {
                    alert('请输入电话号码')
                    return
                }
                if (!$('#myqq').val()) {
                    alert('请输入您的qq号')
                    return
                }
                $.ajax({
                    url: baseUrl + '/enroll/add',
                    methods: 'POST',
                    data: {
                        name: $('#title').val(),
                        phone: $('#mycall').val(),
                        qq: $('#myqq').val(),
                        school: $('#myschool').val(),
                        sex: $('#man').prop('checked') ? 1 : 2,
                        remarks: ''
                    },
                    success: function(res) {
                        console.log(res)
                        if (res.msg == "SUCCESS") {
                            alert('报名成功')
                        }
                    }
                })
            }
        })
        
    </script>
</body>

</html>